# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
*.sqlite
*.sqlite3
*.db
instance/

# Environments
.env
.venv
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Project specific
.git-backup/
